@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{

    margin: 0;

    padding: 0;

    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;

}

html{
    scroll-behavior: smooth;
}

body{
    height: 100vh;
}

a{
    text-decoration: none;
    color: white;
    
}

nav{

    background-color: white;

    padding: 10px 60px;

    display: flex;

    justify-content: space-between;

    align-items: center;
	
	position: fixed;
	
	width: 100%;

}


nav ul{

    display: flex;

    align-items: center;

    list-style: none;

    padding: 10px;

}

nav li{

    margin-left: 30px;

}

nav li a{

    text-decoration: none;

    color: black;

    font-size: 18px;

    font-weight: 500;

    padding: 8px 15px;

    border-radius: 5px;

    transition: 0.4s;

}

nav li a:hover{

    background-color: brown;

    color: white;
}



#banner{

    height: 100vh;

    background: url('pginicial.jpg');

    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;

    display: flex;

    align-items: center;

    justify-content: center;

    text-align: center;

}

#banner2{

    height: 100vh;

    background: #791f1f;

    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;

    display: flex;

    align-items: center;

    justify-content: center;

    text-align: center;

    padding-top: 105px;

    padding-left: 25px;

    padding-right: 25px;

}

p{
    font-size: 25px;

    color: white;

    
}

#banner3{

    height: 100vh;

    background: #791f1f;
	
    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;

    display: flex;

    align-items: center;

    justify-content: center;

    text-align: center;

    padding-top: 105px;

    padding-right: 25px;

    padding-left: 25px;

}

#banner4{

    height: 100vh;

    background: #791f1f;

    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;

    display: flex;

    align-items: center;

    justify-content: center;

    text-align: center;

    padding-top: 105px;

    padding-left: 25px;

    padding-right: 25px;

}

#lista{
    color: white;
    font-size: 15px;
	text-align: left; 
}

#banner5{

    height: 100vh;

   background: #791f1f;

    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;

    display: flex;

    align-items: center;

    justify-content: center;

    text-align: center;

    padding-top: 105px;

    padding-left: 25px;

    padding-right: 25px;

}

#banner6{

    height: 100vh;

	background: #791f1f;

    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;

    display: flex;

    align-items: center;

    justify-content: center;

    text-align: center;

    padding-top: 105px;

    padding-right: 25px;

    padding-left: 25px;

}

#banner7{

    height: 100vh;

    background: #791f1f;

    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;

    display: flex;

    align-items: center;

    justify-content: left;

    text-align: left;

    padding-top: 405px;

    padding-left: 25px;

    padding-right: 25px;

}

#banner8{

    height: 100vw;

    background: #791f1f;

    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;

    display: flex;

    align-items: center;

    justify-content: center;

    text-align: center;

    padding-top: 105px;

    padding-left: 25px;

    padding-right: 25px;

}

.button{
    background: #791f1f;
    color: white;
    width: 150px;
    height: 50px;
    border: 1px solid #791f1f;
    border-radius: 15px;
    box-shadow: 0 4px 12px #3d0000;
}

.button:hover{
    width: 151px;
    height: 51px;
}

.textborder{
	border: 1px solid brown;
	border-radius: 15px;
	background: brown;
	padding: 25px;
    box-shadow: 0 4px 12px #3d0000;
	
}

.titulo{
	color: #fff;

    font-size: 60px;

    font-weight: 600;
}

.sub_titulo{
	color: white;
}

.texto .titulo{

    color: #fff;

    font-size: 60px;

    font-weight: 600;

}

.texto .sub_titulo{

    color: #fff;

    font-size: 58px;

    font-weight: 600;

}

.texto .botoes{

    margin-top: 30px;

}

.texto .botoes button{

    height: 65px;

    width: 380px;

    border-radius: 5px;

    border: 0;

    margin: 0 10px;

    font-size: 20px;

    font-weight: 500;

    padding: 0 10px;

    cursor: pointer;

    outline: none;

    transition: 0.3s;

}

.texto .botoes button.n-overlay{

    color: white;

    background: white;

    border: 2px solid white;

}

.texto .botoes button.n-overlay:hover{

    color: black;

    background-color: white;
	
	width: 385px;
	
	height: 70px;

}

.texto .botoes button.overlay{

    background: white;

    color: black;

    animation: vibrar 0.5s ease-in-out infinite both;

}

.tituloHOME{
	color: #fff;

    font-size: 80px;

    font-weight: 600;
}

.sub_tituloHOME{
	color: #fff;

    font-size: 120px;

    font-weight: 600;
}

#sobre-autor{
    color: white;
    font-size: 15px;
}

